<div class="msl-auth-loading" ng-class="{failed: authLoader.error}">
  <h3 class="msl-auth-loading-h" ng-show="$state.current.name === 'login'">{{ authLoader.error ? "Error Logging in!" : "Logging in..." }}</h3>
  <h3 class="msl-auth-loading-h" ng-show="$state.current.name === 'register'">{{ authLoader.error ? "Error in Registration!" : "Registering..." }}</h3>
  <div class="msl-auth-loading-slider"></div>
  <div class="msl-auth-loading-desc" ng-show="!authLoader.error">
    {{ $state.current.name === 'login' ? "Logging" : "Registering" }} you on the SAFE Network.
  </div>
  <div class="msl-auth-loading-desc" ng-show="authLoader.error">
    {{ $state.current.name === 'login' ? "Login" : "Registration" }} failed!<br>Try again.
  </div>
  <div class="msl-auth-loading-act">
    <button ng-show="!authLoader.error" type="button" name="cancelLoading" class="msl-btn msl-btn-primary" ng-click="cancelRequest()">Cancel</button>
    <button ng-show="authLoader.error" type="button" name="cancelLoading" class="msl-btn msl-btn-primary" ng-click="authLoader.hide()">Try again</button>
  </div>
</div>
