<!-- Connecting -->
<div class="msl-status-bar-b connected" ng-show="network.status === 0">
  <h3 class="desc">{{ network.messages.CONNECTING }}</h3>
  <button type="button" name="okay" class="msl-btn act-btn" ng-click="network.hide()">Okay</button>
</div>
<!-- Connecting -->

<!-- Connected -->
<div class="msl-status-bar-b connected" ng-show="network.status === 1">
  <h3 class="desc">{{ network.messages.CONNECTED }}</h3>
  <button type="button" name="okay" class="msl-btn act-btn" ng-click="network.hide()">Okay</button>
</div>
<!-- Connected -->

<!-- Disconnected -->
<div class="msl-status-bar-b disconnected" ng-show="network.status === 2">
  <h3 class="desc">{{ network.messages.DISCONNECTED }}</h3>
  <button type="button" name="okay" class="msl-btn act-btn" ng-click="network.retry()">Retry</button>
</div>
<!-- Disconnected -->

<!-- Retrying -->
<div class="msl-status-bar-b loading" ng-show="network.status === 3">
  <h3 class="desc">{{ network.messages.RETRY }}</h3>
  <!-- <button type="button" name="okay" class="msl-btn act-btn" ng-click="network.retry()">Retry</button> -->
</div>
<!-- Retrying -->
