<div class="lt">
  <h3 class="msl-title">SAFE Launcher</h3>
</div>
<div class="rt">
  <div class="rt-i" ng-if="$state.current.name !== 'user'">
    <button type="button" name="button" class="msl-btn msl-close-app" onclick="window.msl.closeWindow()"></button>
  </div>
  <!-- <div class="rt-i">
    <button type="button" name="button" class="msl-btn msl-minimize-app" onclick="window.msl.minimizeWindow()"></button>
  </div> -->
  <div class="rt-i" ng-if="$state.current.name === 'user'">
    <button type="button" name="button" class="msl-btn msl-signout-btn" onclick="window.msl.closeWindow()">Sign out</button>
  </div>
</div>
