node_modules
*.log
.DS_Store
Thumbs.db

/app/spec.js
/build/
/safe_core/
/releases/
/tmp/
/app/api/ffi/safe_core.dll
/app/api/ffi/libsafe_core.so
/app/api/ffi/libsafe_core.dylib
install_libsodium.sh
/app/bower_components
/app_dist
/.idea
/testApp
