env:
  global:
  - FFIDest=$TRAVIS_BUILD_DIR/app/api/ffi
  - PROJECT_NAME=safe_launcher
  - secure: HhpVaBtT+7P6QDSQiRlOlTJmczxnDCGGM2SOps0kr04/+2LicoX4ZSBrJ0TNKKAmVABoGPxHYCR9j2hqENWJNeLF6T3kVjcOa9ocRRN6LMq2Qme7ZT1tmgVgVfzGZ/wTbF3pphyhOSFzyigPUVRctusR2aTOOAmzFBp6mjKteOfsXDTEQoyx391FlHxKbHsAPVLiM/CbjUioSC0bybStaNCdi+x16HMeG6buClXio7QEnSd/+M76K8g24lXiOvfwELs7beRM4UYPzPLIWkrf4zRgjHKayEEh7rmuypZFhBQO3KWNQr03zELkn2pO6duOE3QsfFxFIOQT8u1R8CX8cvYEb7/AkJgSq+ELH5Fb5dcufwjdOH58WQZPsbWykVqeoeSRjFc6MkonEjfc+Vzd7ZJJcRbdIbguMLl+xVk6bvLMd9xeOavtyeeRcRQ+gkMrTyr9V/BKcAhFC8NdkgUWeIGg9VIidpAx6mlYnl1a0lZjxlVU3c6fGjyemmx+Vwa//b/4Up7bQOtMX+xcB/4ou4t4rIZj9KBfvbS8K6WrW0T5qPkc0xMR3Q8yYuxwacdoPcqPZnzguL7DnjilCc9RtkFeRJz2CX6IfskLqZ4Kwn05tBgibdRa/ZglvLDifb3SXSZGEeYn+tSZHER5Aw5+utY1i0HnYoFSdSsm8WtVyfI=

matrix:
  include:
  - os: linux
    env: |
      PLATFORM=linux-x64
      PACKAGE_NAME=safe_launcher-linux-x64
  - os: osx
    env: |
      PLATFORM=osx-x64
      PACKAGE_NAME=safe_launcher-darwin-x64

language: generic

python:
  - '2.7'

osx_image: xcode7.2

sudo: required

dist: trusty

cache:
  cargo: true

before_install:
  - export PROJECT_VERSION=$(git log -1 | grep -i "version change to" | sed "s/.*[vV]ersion change to v\{0,1\}//")

install:
  - curl -sSf https://static.rust-lang.org/rustup.sh | sh
  - rustc -V
  - cargo -V
  - curl -sSLO https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/install_libsodium.sh
  - ". install_libsodium.sh"
  - nvm --version
  - nvm install 6.2
  - node --version
  - npm --version
  - python --version
before_script:
  - export DISPLAY=:99.0;

script:
  - cd $TRAVIS_BUILD_DIR
  - git clone https://github.com/maidsafe/safe_core.git && cd safe_core
  - cargo build --release --verbose --features use-mock-routing
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cp ./target/release/libsafe_core.so $FFIDest; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cp ./target/release/libsafe_core.dylib $FFIDest; fi
  - cd $TRAVIS_BUILD_DIR
  - npm install
  - npm test

after_success:
  - pwd
  - cd $TRAVIS_BUILD_DIR
  - ls
  - cd safe_core
  - cargo build --release

before_deploy:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then cp ./target/release/libsafe_core.so $FFIDest; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then cp ./target/release/libsafe_core.dylib $FFIDest; fi
  - cd $TRAVIS_BUILD_DIR
  - git config --global user.name shankar2105
  - git config --global user.email shankar21mail@gmail.com
  - git fetch --tags
  - if [ -z $(git tag -l "$PROJECT_VERSION") ]; then git tag $PROJECT_VERSION -am "Version $PROJECT_VERSION" $TRAVIS_COMMIT; git push https://${GH_TOKEN}@github.com/${TRAVIS_REPO_SLUG} tag $PROJECT_VERSION > /dev/null 2>&1; fi
  - npm run package
  - curl -O https://gist.githubusercontent.com/shankar2105/acaf16d018e03e50acb8df3e81dfb7d9/raw/2907538f8dbfe15d0dfe4e0fdc6eae67c631a245/safe_launcher.crust.config
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then mv safe_launcher.crust.config app_dist/$PACKAGE_NAME; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then mv safe_launcher.crust.config "app_dist/$PACKAGE_NAME/safe_launcher.app/Contents/Frameworks/safe_launcher Helper.app/Contents/MacOS/safe_launcher Helper.crust.config"; fi
  - ls $TRAVIS_BUILD_DIR
  - ls $TRAVIS_BUILD_DIR/app_dist
  - cd app_dist
  - tar czf ../${PROJECT_NAME}-v${PROJECT_VERSION}-${PLATFORM}.tar.gz *
  - ls $TRAVIS_BUILD_DIR

deploy:
  provider: releases
  api_key: ${GH_TOKEN}
  file: "${PROJECT_NAME}-v${PROJECT_VERSION}-${PLATFORM}.tar.gz"
  skip_cleanup: true
  tag_name: "${PROJECT_VERSION}"
  draft: true
  on:
    repo: shankar2105/safe_launcher
    branch: travis_integration
    condition: |
      (-n "$PROJECT_VERSION") && (-n "$PLATFORM")
