<!-- your account -->
<div class="auth-intro-cnt">
  <h3 class="title">Account Info</h3>
  <div class="desc">
    Accounts are made of two parts, an 'account secret' and an 'account password'.
  </div>
  <div class="desc">
    Your '<b>account secret</b>' is used to locate your account information on the network.
  </div>
  <div class="auth-intro-media">
    <img src="./images/account_secret.svg" alt="Welcome to the Safe Launcher" />
  </div>
  <div class="opt">
    <div class="opt-i lt">
      <button type="button" class="btn" name="back" ng-click="createAccFlow.back()">Back</button>
    </div>
    <div class="opt-i">
      <button type="button" class="btn" name="continue" ng-click="createAccFlow.continue()">Continue</button>
    </div>
  </div>
</div><!-- your account -->
