<!-- your account password -->
<div class="auth-intro-cnt">
  <h3 class="title">Account Password</h3>
  <div class="desc">
    Your 'account password' is <b>never stored or transmitted</b>, it will not leave your computer.
  </div>
  <div class="form-b">
    <form id="accountPasswordForm" class="form" name="accountPasswordForm" ng-init="toggleAccPass = toggleConfirmAccPass = true">
      <div id="AccountPass" class="inp-grp validate-field light-theme">
        <input id="accountPassword"
          type="{{toggleAccPass ? 'password' : 'text'}}"
          name="accountPassword"
          required="true"
          ng-model="user.accountPassword"
          field-type="PASSWORD"
          is-password-valid="checkPasswordValid(result)"
          validate-account-secret
          focus="true" />
        <label for="accountPassword">Account Password</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleAccPass}" ng-mousedown="toggleAccPass = !toggleAccPass"></span>
          </div>
        </div>
        <span class="strength"></span>
        <span class="status last" data-val="min"></span>
      </div>
      <div id="AccountPassConfirm" class="inp-grp light-theme">
        <input id="confirmAccountPassword"
          type="{{toggleConfirmAccPass ? 'password' : 'text'}}"
          name="confirmAccountPassword"
          required="true"
          target="accountPassword"
          ng-model="user.confirmAccountPassword"
          field-match-validator/>
        <label for="confirmAccountPassword">Confirm Account Password</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleConfirmAccPass}" ng-mousedown="toggleConfirmAccPass = !toggleConfirmAccPass"></span>
          </div>
        </div>
      </div>
      <!-- <div class="inp-btn">
        <button type="submit" class="btn primary" name="next"
          ng-disabled="(user.accountPassword !== user.confirmAccountPassword) || !passwordValid">Create Account</button>
      </div> -->
    </form>
  </div>
  <div class="opt align-btn-box">
    <div class="opt-i lt">
      <button type="button lt" class="btn" name="back" ng-click="createAccFlow.back()">Back</button>
    </div>
    <div class="opt-i">
      <button type="submit" class="btn btn-box" name="continue" ng-click="createAccFlow.continue()">Create Account</button>
    </div>
  </div>
</div><!-- your account password -->
