<!-- your account password -->
<div class="auth-intro-cnt">
  <h3 class="title">Account Secret</h3>
  <div class="desc">
    Your 'account secret' is private and <b>should not be shared</b> with anyone.
  </div>
  <div class="form-b">
    <form id="accountSecretForm" class="form" name="accountSecretForm" ng-init="toggleAccSecret = toggleConfirmAccSecret = true">
      <div id="errorTarget" class="inp-grp validate-field light-theme">
        <input id="accountSecret"
          type="{{toggleAccSecret ? 'password' : 'text'}}"
          name="accountSecret"
          required="true"
          ng-model="user.accountSecret"
          validate-account-secret
          field-type="SECRET"
          is-password-valid="checkSecretValid(result)"
          focus="true" />
        <label for="accountSecret">Account Secret</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleAccSecret}" ng-mousedown="toggleAccSecret = !toggleAccSecret"></span>
          </div>
        </div>
        <span class="strength"></span>
        <span class="status" data-val="min"></span>
      </div>
      <div class="inp-grp light-theme">
        <input id="confirmAccountSecret"
          type="{{toggleConfirmAccSecret ? 'password' : 'text'}}"
          name="confirmAccountSecret"
          required="true"
          target="accountSecret"
          ng-model="user.confirmAccountSecret"
          field-match-validator/>
        <label for="confirmAccountSecret">Confirm Account Secret</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleConfirmAccSecret}" ng-mousedown="toggleConfirmAccSecret = !toggleConfirmAccSecret"></span>
          </div>
        </div>
      </div>
      <!-- <div class="inp-btn">
        <button type="submit" class="btn primary" name="next"
          ng-disabled="(user.accountSecret !== user.confirmAccountSecret) || !secretValid">Next</button>
      </div> -->
    </form>
  </div>
  <div class="opt">
    <div class="opt-i lt">
      <button type="button" class="btn" name="back" ng-click="createAccFlow.back()">Back</button>
    </div>
    <div class="opt-i">
      <button type="submit" class="btn" name="continue" ng-click="createAccFlow.continue()">Continue</button>
    </div>
  </div>
</div><!-- your account password -->
