<!-- welcome -->
<div class="auth-intro-cnt">
  <h3 class="title">Welcome to the SAFE Launcher!</h3>
  <div class="auth-intro-media">
    <img src="./images/launcher_logo.svg" alt="Welcome to the Safe Launcher" />
  </div>
  <div class="desc">
    Launcher will act as your gateway to the SAFE Network, you can use it to access data on the network and to
    authorise apps to connect on your behalf.
  </div>
  <div class="opt">
    <div class="opt-i">
      <button type="button" class="btn" name="continue" ng-click="createAccFlow.continue()">Continue</button>
    </div>
  </div>
</div><!-- welcome -->
