<div class="auth-intro form-b" ng-controller="authController">
  <div class="auth-intro-b">
    <!-- welcome -->
    <div class="auth-intro-cnt" ng-if="authIntro.currentPos === 1">
      <h3 class="title">Welcome to the SAFE Launcher!</h3>
      <div class="auth-intro-media">
        <img src="./images/launcher_logo.svg" alt="Welcome to the Safe Launcher" />
      </div>
      <div class="desc">
        Launcher will act as your gateway to the SAFE Network, you can use it to access data on the network and to
        authorise apps to connect on your behalf.
      </div>
      <div class="opt">
        <div class="opt-i">
          <button type="button" class="btn" name="continue" ng-click="authIntro.continue()">Continue</button>
        </div>
      </div>
    </div><!-- welcome -->
    <!-- your account -->
    <div class="auth-intro-cnt"  ng-if="authIntro.currentPos === 2">
      <h3 class="title">Your Account</h3>
      <div class="desc">
        Accounts are made of two parts, an '<b>account secret</b>' and an 'account password'.
      </div>
      <div class="auth-intro-media">
        <img src="./images/account_secret.svg" alt="Welcome to the Safe Launcher" />
      </div>
      <div class="desc">
        Your 'account secret' is private and <b>should not be shared</b> with anyone.
      </div>
      <div class="opt">
        <div class="opt-i">
          <button type="button" class="btn" name="back" ng-click="authIntro.back()">Back</button>
        </div>
        <div class="opt-i">
          <button type="button" class="btn" name="continue" ng-click="authIntro.continue()">Continue</button>
        </div>
      </div>
    </div><!-- your account -->
    <!-- your account password -->
    <div class="auth-intro-cnt"  ng-if="authIntro.currentPos === 3">
      <h3 class="title">Your Account</h3>
      <div class="desc">
        The '<b>account password</b>' is used to unlock and access all of your data.
      </div>
      <div class="auth-intro-media">
        <img src="./images/account_password.svg" alt="Welcome to the Safe Launcher" />
      </div>
      <div class="desc">
        This password is never stored or transmitted, it will not leave your computer.
      </div>
      <div class="opt">
        <div class="opt-i">
          <button type="button" class="btn" name="back" ng-click="authIntro.back()">Back</button>
        </div>
        <div class="opt-i">
          <button type="button" class="btn" name="continue" ng-click="authIntro.continue()">Continue</button>
        </div>
      </div>
    </div><!-- your account password -->
    <div class="auth-intro-nav-btn">
      <span class="auth-intro-nav-btn-i" ng-class="{active: authIntro.currentPos === 1}"></span>
      <span class="auth-intro-nav-btn-i" ng-class="{active: authIntro.currentPos === 2}"></span>
      <span class="auth-intro-nav-btn-i" ng-class="{active: authIntro.currentPos === 3}"></span>
    </div>
  </div>
  <div class="form-f">
    <div class="form-f-b">
      Already have an account? <a ui-sref="app.account({currentPage: 'login'})">Login</a>
    </div>
  </div>
</div>
