<div class="form-b" ng-controller="authController">
  <div ng-show="!isAuthLoading">
    <form class="form" name="loginForm" ng-submit="login()" ng-init="toggleAccSecret = toggleAccPass = true">
      <div id="errorTarget" class="inp-grp">
        <input id="accountSecret"
          type="{{toggleAccSecret ? 'password' : 'text'}}"
          name="accountSecret"
          required="true"
          ng-model="user.accountSecret"
          focus="true" />
        <label for="accountSecret">Account Secret</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleAccSecret}" ng-click="toggleAccSecret = !toggleAccSecret"></span>
          </div>
        </div>
      </div>
      <div class="inp-grp">
        <input id="accountPassword"
          type="{{toggleAccPass ? 'password' : 'text'}}"
          name="accountPassword"
          required="true"
          ng-model="user.accountPassword"/>
        <label for="accountPassword">Account Password</label>
        <div class="msg"></div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: !toggleAccPass}" ng-click="toggleAccPass = !toggleAccPass"></span>
          </div>
        </div>
      </div>
      <div class="inp-btn">
        <button type="submit" class="btn primary" name="login" ng-disabled="!loginForm.$valid">Login</button>
      </div>
    </form>
    <div class="form-f">
      <div class="form-f-b">
        Don't have a account ? <a ui-sref="app.account({currentPage: 'register'})">Create Account</a>
      </div>
    </div>
  </div>
  <ng-include src="'views/auth/loader.html'" ng-show="isAuthLoading"></ng-include>
</div>
