<div class="form-b" ng-controller="authController">
  <div ng-show="!isAuthLoading">
    <form class="form" name="loginForm" ng-submit="login()" ng-init="toggleView = false">
      <div class="inp-grp">
        <input id="password" type="password" name="password" required="true" ng-model="user.password" focus="true" />
        <span class="preview" ng-show="toggleView" ng-bind="user.password"></span>
        <label for="password">Account Password</label>
        <div class="msg">
          <span class="txt"></span>
          <span class="icn"></span>
        </div>
        <div class="opt">
          <div class="opt-i">
              <span class="eye" ng-class="{active: toggleView}" ng-click="toggleView = !toggleView"></span>
          </div>
        </div>
      </div>
      <div class="inp-btn">
        <button type="submit" class="btn primary" name="login" ng-disabled="!loginForm.$valid">Login</button>
      </div>
    </form>
    <div class="form-f">
      <div class="form-f-b">
        Don't have a account ? <a ui-sref="app.account({currentPage: 'register'})">Create Account</a>
      </div>
    </div>
  </div>
  <ng-include src="'views/auth/loader.html'" ng-show="isAuthLoading"></ng-include>
</div>
