// tab
.tab {
  width: 100%;
  .tab-b {
    .tab-nav {
      width: 100%;
      height: @header-ht;
      background-color: @primary-blue;
      ul {
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          list-style-type: none;
          float: left;
          position: relative;
          padding: 0;
          margin: 0;
          a {
            display: inline-block;
            padding: 11px 20px;
            float: left;
            text-decoration: none;
            color: white;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            .icn {
              display: inline-block;
              width: 28px;
              height: 28px;
              background-color: #EEE;
              float: left;
              border-radius: 50%;
              &.manage {
                background-image: url(../images/manage.svg);
              }
            }
            .txt {
              padding-left: 8px;
            }
          }
          &:after {
            content: '';
            display: block;
            width: 1px;
            height: 28px;
            background-color: #EEE;
            position: absolute;
            top: 11px;
            right: 0;
          }
          &:last-child:after {
            display: none;
          }
          &.active, &:hover {
            background-color: #EEE;
            a {
              color: @primary-blue;
              .icn {
                &.manage {
                  background-image: url(../images/manage_blue.svg);
                }
              }
            }
            &:after {
              display: none;
            }
          }
        }
        .clearfix();
      }
    }
  }
}

// app list
.app-li {
  width: 100%;
  height: @tab-cnt-ht;
  overflow-y: auto;
  .app-li-b {
    padding: 20px;
  }
  .app-li-h {
    .app-li-h-lt {
      float: left;
      display: inline-block;
    }
    .app-li-h-rt {
      float: right;
      display: inline-block;
    }
    .clearfix();
  }
  .filter-by {
    width: auto;
    .filter-by-i {
      float: left;
      border-width: 0 1px 0 0;
      border-color: #DDD;
      border-style: solid;
      button {
        background-color: transparent;
      }
      &:last-child {
        border: 0;
        button {
          padding-right: 0;
        }
      }
      &.active {
        button {
          color: @primary-blue;
        }
      }
    }
  }
  .app-li-cnt {
    width: 100%;
    padding-top: 8px;
  }
  .app-li-i {
    background-color: #FFF;
    padding: 8px;
    margin-bottom: 16px;
    position: relative;
    a {
      text-decoration: none;
    }
    .title {
      padding: 0 0 8px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      color: #606060;
    }
    .sub-title {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: #808080;
    }
    .opt {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    .status-bar {
      padding: 0 8px;
      margin: 8px 0 0;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      color: #000;
      > .time {
        width: 20%;
        float: left;
      }
      > .msg {
        float: left;
      }
      > .status {
        float: right;
      }
      &.in-progress {
        background-color: @app-status-in-progress;
      }
      &.completed {
        background-color: @app-status-complete;
      }
      .clearfix();
    }
    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
    }
  }
}
