.msl-form {
  width: 295px;
  position: absolute;
  bottom: 0;
  left: 47.5px;
  padding-bottom: 48px;
  margin: 0 auto;
  .msl-form-nav {
    white-space: nowrap;
    text-align: center;
    .msl-form-nav-i {
      padding-right: 16px;
      display: inline-block;
      color: @msl-txt-3;
      font-size: 16px;
      font-weight: normal;
      cursor: pointer;
      &.active {
        font-weight: bold;
      }
      a {
        font-size: inherit;
        font-weight: normal;
        text-decoration: none;
        color: inherit;
      }
    }
    .clearfix();
  }
  .form-err {
    width: 100%;
    height: 23px;
    margin: 5px 0;
    padding: 0 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    display: inline-block;
    white-space: nowrap;
    color: white;
    background-color: transparent;
    &.onErr {
      background-color: @bg-error;
    }
  }
  .msl-form-desc {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: @msl-txt-1;
    .bold {
      font-weight: bold;
      color: @msl-txt-1;
    }
  }
  .msl-form-grp {
    position: relative;
    display: flex;
    padding: 16px 0 0;
    &.no-margin {
      margin: 0;
    }
    input[type=text], input[type=password]  {
      width: 100%;
      height: 32px;
      margin: 0;
      padding: 0 32px 0 8px;
      font-size: 16px;
      color: @msl-txt-1;
      outline: none;
      flex: 1;
      border: 2px solid @input-static;
      &:focus, &:focus + .clear-btn {
        border-color: @msl-title-bg;
      }
    }

    input.invalid, input.invalid + .clear-btn {
      border-color: @bg-error !important;
    }

    .clear-btn {
      width: 32px;
      height: 32px;
      margin-left: -2px;
      display: inline-block;
      border: none;
      outline: none;
      text-align: center;
      background-color: white;
      background-image: url('../images/close_dark.svg');
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: center;
      font-size: 14px;
      font-weight: normal;
      color: #000000;
      line-height: 28px;
      border-width: 2px 2px 2px 0;
      border-style: solid;
      border-color: @input-static;
      cursor: pointer;
    }
  }
  .act-btn {
    padding: 0 0 30px;
    button {
      margin: 0 auto;
      display: block;
    }
  }
}
