// Prompt
.msl-prompt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;

  .msl-prompt-b {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 44px;
  }

  .msl-prompt-cont {
    background-color: white;
    border-radius: 2px;
  }

  .msl-prompt-h {
    width: 100%;
    margin: 0;
    padding: 24px;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: @msl-txt-1;
  }

  .msl-prompt-body {
    width: 100%;
    margin: 0 auto;
    padding: 14px 24px 24px;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    color: @msl-txt-1;
    text-align: left;
    .msl-prompt-body-li {
      margin-top: 8px;
      .msl-prompt-body-li-i {
        padding: 8px 0 8px 8px;
        font-weight: 600;
        opacity: 0.6;
      }
    }
  }

  .msl-prompt-foot {
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    text-align: right;
    button {
      height: 36px;
      margin-left: 8px;
      padding: 8px;
      border: 0;
      outline: 0;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
      color: @msl-title-bg;
      background-color: transparent;
      &:hover {
        background-color: @msl-btn-default;
      }
    }
  }
}
