// colors
@primary-blue: #5592d7;
@primary-blue-hover: #6FAFEF;
@primary-blue-action: #3575B5;
@error-red: #e26464;
@error-red-form: #ff8a8a;
@checkbox-in-progress: #5592D7;
@checkbox-complete: #56D695;
@checkbox-error: #D65656;
@app-status-in-progress: #dce9fa;
@app-status-complete: #dcf7e8;
@app-status-error: #fadcdc;
@get: #815adb;
@upload: #f7b558;
@pass-vweak: #D65656;
@pass-weak: #DD8C3A;
@pass-ok: #5592D7;
@pass-secure: #57D36E;
@pass-weak-txt: #C66E4B;
@pass-ok-txt: #3575b5;
@pass-secure-txt: #1D8720;

// dimensions
@app-ht: 550px;
@header-ht: 46px;
@title-ht: 25px;
@tab-cnt-ht: @app-ht - @header-ht - @title-ht;
