<!-- Authentication -->
<div class="auth" ng-if="!isAuthenticated">
  <div class="auth-b">
    <ng-include src="'views/auth/login.html'" ng-if="!$state.params.currentPage || $state.params.currentPage === 'login'"></ng-include>
    <ng-include src="'views/auth/register.html'" ng-if="$state.params.currentPage === 'register'"></ng-include>
  </div>
</div>
<!-- /Authentication -->
<!-- App list -->
<ng-include src="'views/user/app_list.html'" ng-if="isAuthenticated"></ng-include>
<!-- /App list -->
