<div class="dash" ng-controller="dashboardController">
  <div class="dash-cnt">
    <div class="sec-1">
      <div class="card">
        <div class="table-view">
          <div class="table-filter" ng-class="{disabled: (keys(logList).length === 0)}">
            <div class="table-filter-i checkbox in-progress" ng-init="logFilterInProgress = logFilterComplete = logFilterError = true;">
              <input id="inProgress" type="checkbox" name="inProgress" value=""
                ng-model="logFilterInProgress" ng-change="toggleFilter('IN_PROGRESS')"
                checked="{{logFilterInProgress}}"
                ng-disabled="(keys(logList).length === 0)">
              <label for="inProgress">In Progress</label>
            </div>
            <div class="table-filter-i checkbox completed">
              <input id="completed" type="checkbox" name="completed" value="" ng-model="logFilterComplete"
                ng-change="toggleFilter('SUCCESS')"
                checked="{{logFilterComplete}}"
                ng-disabled="(keys(logList).length === 0)">
              <label for="completed">Completed</label>
            </div>
            <div class="table-filter-i checkbox error">
              <input id="error" type="checkbox" name="error" value="" ng-model="logFilterError"
                ng-change="toggleFilter('FAILURE')"
                checked="{{logFilterError}}"
                ng-disabled="(keys(logList).length === 0)">
              <label for="error">Error</label>
            </div>
          </div>
          <react-component name="AppLogs" props="{list: logList, filter: logFilter, table:'four-col'}" watch-depth="value"></react-component>
        </div>
      </div>
    </div>
  </div>
</div>
