<div class="tab">
  <!-- Tab Base -->
  <div class="tab-b">
    <!-- Tab Navigation -->
    <div class="tab-nav">
      <ul>
        <li ng-class="{active: $state.current.name === 'app.account' || $state.current.name === 'app'}">
          <a ui-sref="app.account">
            <span class="icn account-icn"></span>
            <span class="txt">Account</span>
          </a>
        </li>
        <li ng-class="{active: $state.current.name === 'app.dashboard', disabled: isAuthLoading}">
          <a ui-sref="app.dashboard">
            <span class="icn dashboard-icn"></span>
            <span class="txt">Dashboard</span>
          </a>
        </li>
        <li ng-class="{active: $state.current.name === 'app.activity', disabled: isAuthLoading}">
          <a ui-sref="app.activity">
            <span class="icn log-icn"></span>
            <span class="txt">Logs</span>
          </a>
        </li>
        <li ng-class="{active: $state.current.name === 'app.settings', disabled: isAuthLoading}">
          <a ui-sref="app.settings">
            <span class="icn settings-icn"></span>
            <span class="txt">Settings</span>
          </a>
        </li>
        <li class="bg-white" ng-class="{active: $state.current.name === 'app.help', disabled: isAuthLoading}">
          <a ui-sref="app.help">
            <span class="icn help-icn"></span>
            <span class="txt">Help</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /Tab Navigation -->
    <!-- Tab Container -->
    <div class="tab-cnt" ui-view="tab"></div>
    <!-- /Tab Container -->
  </div>
  <!-- /Tab Base -->
</div>
