<div class="dash" ng-controller="dashboardController">
  <div class="dash-b">
    <div class="dash-cnt" ng-show="!isAuthenticated">
      <div class="sec-1">
        <div class="card bar-chart">
          <h3 class="dash-title">Network Activity - This Session</h3>
          <div class="filters">
            <div class="filters-i checkbox get always-checked" ng-init="barChartGETFilter = true">
              <!-- <input id="GET" type="checkbox" name="GET" value="" checked="true"> -->
              <label for="GET">GET</label>
            </div>
          </div>
          <react-component name="UnauthGETChart" props="{data: dashData.unAuthGET}"></react-component>
          <div class="bar-chart-count">
            <div class="count">
              <div class="count-val">{{dashData.getsCount}}</div>
              <div class="count-title">Total GETs</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dash-cnt" ng-if="isAuthenticated">
      <div class="sec-1">
        <div class="card bar-chart">
          <h3 class="dash-title">Network Activity - This Session</h3>
          <div class="filters">
            <div class="filters-i checkbox put always-checked" ng-init="barChartPUTFilter = true">
              <!-- <input id="GET" type="checkbox" name="GET" value="" checked="true"> -->
              <label for="PUT">PUT</label>
            </div>
            <div class="filters-i checkbox get always-checked" ng-init="barChartGETFilter = true">
              <!-- <input id="GET" type="checkbox" name="GET" value="" checked="true"> -->
              <label for="GET">GET</label>
            </div>
            <div class="filters-i checkbox post always-checked" ng-init="barChartPOSTFilter = true">
              <!-- <input id="GET" type="checkbox" name="GET" value="" checked="true"> -->
              <label for="POST">POST</label>
            </div>
            <div class="filters-i checkbox delete always-checked">
              <!-- <input id="GET" type="checkbox" name="GET" value="" checked="true"> -->
              <label for="DELETED">DELETE</label>
            </div>
          </div>
          <react-component name="GroupBarChart" props="{data: dashData.authHTTPMethods}"></react-component>
          <div class="bar-chart-count">
            <div class="count">
              <div class="count-val">{{dashData.putsCount}}</div>
              <div class="count-title">Total PUTs</div>
            </div>
            <div class="count">
              <div class="count-val">{{dashData.getsCount}}</div>
              <div class="count-title">Total GETs</div>
            </div>
            <div class="count">
              <div class="count-val">{{dashData.postsCount}}</div>
              <div class="count-title">Total POSTs</div>
            </div>
            <div class="count">
              <div class="count-val">{{dashData.deletesCount}}</div>
              <div class="count-title">Total DELETEs</div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="dash-cnt" ng-if="isAuthenticated">
      <div class="sec-2">
        <div class="card pie-chart">
          <h3 class="dash-title">Download vs Upload - This Session</h3>
          <react-component name="UploadDownloadPieChart" props="{upload: dashData.upload, download: dashData.download}"></react-component>
        </div>
      </div>
      <div class="sec-2">
        <div class="card">
          <div class="dash-progress-bar">
            <div class="dash-progress-bar-b">
              <h3 class="dash-title">Download vs Upload - This Session</h3>
              <h3 class="count" ng-if="!accountInfoLoading"><span class="value">{{dashData.accountInfo.used}}</span> / {{dashData.accountInfo.used + dashData.accountInfo.available}}</h3>
              <h3 class="count" ng-if="accountInfoLoading"><span class="value">...</span></h3>
              <h4 class="title">Total PUTs</h4>
              <div class="progress">
                <span ng-show="!accountInfoLoading" class="progress-value" style="width:{{(dashData.accountInfo.used / (dashData.accountInfo.used + dashData.accountInfo.available)) * 100}}%"></span>
              </div>
              <div class="desc" ng-if="!accountInfoLoading">
                Each account is currently limited to {{dashData.accountInfo.used + dashData.accountInfo.available}} PUTs on the Network.
              </div>
              <div class="desc" ng-if="accountInfoLoading">
                Fetching data from the Network.
              </div>
              <div class="opt" ng-if="!accountInfoLoading">
                <div class="opt-lt">
                  <button type="button" class="btn flat" name="update"
                    ng-disabled="!dashData.accountInfoUpdateEnabled" ng-click="updateUserAccount()">{{ dashData.accountInfoUpdateEnabled ? 'Update' :  (dashData.accountInfoUpdateTimeLeft) }}</button>
                </div>
                <div class="opt-rt">
                  Updated: {{dashData.accountInfoTimeString}}
                </div>
              </div>
              <div class="opt onLoading" ng-if="accountInfoLoading">
                <div class="opt-lt">
                  <button type="button" class="btn flat" name="update" ng-disabled="true">Updating</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
