<div class="help">
  <div class="help-b">
    <h3 class="title first">Safe Launcher: Version {{appVersion}}</h3>
    <!-- <h4 class="def">Safe Launcher: <b>Version 0.5.0</b></h4> -->
    <p class="p">
      The SAFE Network and Launcher are still in test phases and may only work if you are using the lastest version.
    </p>
    <!-- <div class="sub-cnt">
      <h4 class="sub-title">Updates are availabe!</h4>
      <h5 class="sub-def">Version 0.5.2 - <a href="#">Download Update</a></h5>
    </div> -->
    <h3 class="title">Tutorials:</h3>
    <p class="p">
      Learn how to get set up on the SAFE Network at
      <a href="#" ng-click="openExternal($event, 'https://maidsafe.readme.io')">maidsafe.readme.io</a>.
      Here you'll find tutorials on setting up and using the Launcher and example apps from MaidSafe.
    </p>
    <ul class="list">
      <li><a href="#" ng-click="openExternal($event, 'https://maidsafe.readme.io/docs/launcher')">Using Launcher</a></li>
      <li><a href="#" ng-click="openExternal($event, 'https://maidsafe.readme.io/docs/proxy-setup')">Proxy Setup</a></li>
      <li><a href="#" ng-click="openExternal($event, 'https://maidsafe.readme.io/docs/install-demo-app')">Install Demo Application</a></li>
    </ul>
    <h3 class="title">Discussions:</h3>
    <p class="p">
      You can join the discussion on the <a href="#" ng-click="openExternal($event, 'https://safenetforum.org')">Community forum</a>.
      If you'd like to contribute to the code or have found any issues, you can find us on <a href="#" ng-click="openExternal($event, 'https://github.com/maidsafe/safe_launcher/issues')">GitHub</a>.
    </p>
  </div>
</div>
