<div class="help">
  <div class="help-b">
    <h3 class="title">About:</h3>
    <h4 class="def">Safe Launcher: <b>Version 0.5.0</b></h4>
    <p class="p">
      The SAFE Network and Launcher are still in test phases and may only work if you are using the latest version.
    </p>
    <div class="sub-cnt">
      <h4 class="sub-title">Updates are availabe!</h4>
      <h5 class="sub-def">Version 0.5.2 - <a href="#">Download Update</a></h5>
    </div>
    <h3 class="title">Tutorials:</h3>
    <p class="p">
      Learn how to get set up on the SAFE Network at <a href="#">maidsafe.readme.io</a>.
      Here you'll find tutorials on setting up and using Launcher and example apps from MaidSafe.
    </p>
    <ul class="list">
      <li><a href="#">Using Launcher - readme.io</a></li>
      <li><a href="#">Proxy Setup - readme.io</a></li>
      <li><a href="#">Install Demo Application - readme.io</a></li>
    </ul>
    <h3 class="title">Discussions:</h3>
    <p class="p">
      You can join the discussion on the community forum where the is
    </p>
  </div>
</div>
