<!-- Authorised application list -->
<div class="app-li" ng-controller="userController">
  <div class="app-li-b">
    <!-- app list header -->
    <div class="app-li-h">
      <div class="app-li-h-lt">
        Authorised Apps
      </div>
      <div class="app-li-h-rt">
        <div class="filter-by">
          <div class="filter-by-i" ng-class="{active: listOrderBy === LIST_ORDER_BY.NAME}">
            <button type="button" class="btn" name="filterByName" ng-click="changeListOrder(LIST_ORDER_BY.NAME)">Name</button>
          </div>
          <div class="filter-by-i" ng-class="{active: listOrderBy === LIST_ORDER_BY.LAST_ACTIVE}">
            <button type="button" class="btn" name="filterByLastActive" ng-click="changeListOrder(LIST_ORDER_BY.LAST_ACTIVE)">Last Active</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /app list header -->
    <!-- app list container -->
    <react-component name="AppList" props="{list: appList, orderBy: listOrderBy, revokeApp: removeSession}"></react-component>
    <!-- /app list container -->
  </div>
</div>
