<div ng-controller="userController">
  <!-- Authorised application list -->
  <div class="app-li">
    <div class="app-li-b">
      <!-- app list header -->
      <div class="app-li-h">
        <div class="app-li-h-lt">
          Authorised Apps
        </div>
        <div class="app-li-h-rt">
          <button type="button" class="btn logout" name="logout" ng-click="logout()">Logout</button>
        </div>
      </div>
      <!-- /app list header -->
      <!-- app list container -->
      <div class="default" ng-show="keys(appList).length === 0">
        No authorised apps. Get the <a href="#" ng-click="openExternal($event, 'http://maidsafe.net/alpha.html#demo_app')">demo app</a> to store and publish data, as well as create your SAFE public ID.<br/>        
      </div>
      <react-component name="AppList" props="{list: appList, revokeApp: removeSession, toggleAppDetails: toggleAppDetails}">
      </react-component>
      <!-- /app list container -->
    </div>
  </div>
  <ng-include src="'views/user/app_details.html'" ng-show="currentAppDetails.app.id"></ng-include>
</div>
