<div class="app-details">
  <div class="app-details-h">
    <div class="back">
      <button type="button" name="back" ng-click="toggleAppDetails()"></button>
    </div>
  </div>
  <div class="app-details-cnt">
    <h3 class="title">{{currentAppDetails.name}} - <span class="version">v {{currentAppDetails.version}}</span></h3>
    <div class="permissions">
      <h4 class="permissions-title">Permissions:</h4>
      <ul>
        <li ng-show="!currentAppDetails.permissions || currentAppDetails.permissions.length === 0">None</li>
        <li class="icn safe-drive" ng-show="currentAppDetails.permissions.indexOf('SAFE_DRIVE_ACCESS') !== -1">SAFE Drive Access</li>
      </ul>
    </div>
    <div class="table-view without-pad">
      <div class="table-filter">
        <div class="table-filter-i checkbox in-progress" ng-init="logFilterInProgress = logFilterComplete = logFilterError = true;">
          <input id="inProgress" type="checkbox" name="inProgress" value="" ng-model="logFilterInProgress" ng-change="toggleFilter('IN_PROGRESS')" checked="{{logFilterInProgress}}">
          <label for="inProgress">In Progress</label>
        </div>
        <div class="table-filter-i checkbox completed">
          <input id="completed" type="checkbox" name="completed" value="" ng-model="logFilterComplete" ng-change="toggleFilter('SUCCESS')" checked="{{logFilterComplete}}">
          <label for="completed">Completed</label>
        </div>
        <div class="table-filter-i checkbox error">
          <input id="error" type="checkbox" name="error" value="" ng-model="logFilterError" ng-change="toggleFilter('FAILURE')" checked="{{logFilterError}}">
          <label for="error">Error</label>
        </div>
      </div>
      <react-component name="AppLogs" props="{list: currentAppDetails.logs, filter: logFilter}"></react-component>
    </div>
  </div>
</div>
