<div class="splash">
  <div class="splash-b connecting" ng-show="$networkStatus.status === 0">
    <div class="splash-media"></div>
    <span class="splash-i">Trying to Connect you to the SAFE Network!</span>
  </div>
  <div class="splash-b disconnected" ng-show="$networkStatus.status === 2">
    <div class="splash-media"></div>
    <span class="splash-i">Could not connect to the SAFE Network!</span>
    <div class="opt">
      <button type="button" class="btn danger" name="button" ng-click="$networkStatus.retry()">Retry</button>
    </div>
  </div>
</div>
<ng-include ng-show="$networkStatus.status === 1" src="'views/common/proxy_popup.html'"></ng-include>
