<div class="auth-req">
  <div class="auth-req-b">
    <div class="auth-req-ctn">
      <h3 class="title">Authorise Request:</h3>
      <div class="details">
        <!-- <div class="avatar">

        </div> -->
        <div class="desc">
          <div class="desc-i">
            <span class="desc-i-h">App Name:</span>
            <span class="desc-i-ctx">{{ payload.payload.app.name }}</span>
          </div>
          <div class="desc-i">
            <span class="desc-i-h">Vendor:</span>
            <span class="desc-i-ctx">{{ payload.payload.app.vendor }}</span>
          </div>
          <div class="desc-i">
            <span class="desc-i-h">Version:</span>
            <span class="desc-i-ctx">{{ payload.payload.app.version }}</span>
          </div>
        </div>
        <div class="permissions">
          <h4 class="permissions-h">Permissions:</h4>
          <div class="permissions-i icn safe-drive" ng-show="payload.permissions.list.indexOf('SAFE_DRIVE_ACCESS') !== -1">
            <input type="checkbox" name="safeDrivePermission" id="safeDrivePermission" />
            <label for="safeDrivePermission" class="permissions-name">SAFE Drive Access</label>
            <p class="permissions-desc">
              Allow this app to access the data stored in your SAFE Drive.
            </p>
          </div>
        </div>
        <div class="auth-req-f">
          <div class="auth-req-f-i">
            <button type="button" class="btn flat primary" name="deny" ng-click="callback({ err: null, data: false })">Deny</button>
          </div>
          <div class="auth-req-f-i">
            <button type="button" class="btn flat primary" name="allow" ng-click="callback({ err: null, data: true })">Allow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
