<div class="settings-popup">
  <div class="settings-popup-b">
    <div class="settings-popup-cnt">
      <!-- settings -->
      <div class="settings popup">
        <div class="settings-b">
          <h3 class="title">Proxy Settings</h3>
          <p class="desc">
            The proxy server allows you to view websites and content from SAFE Network
            in your browser of choice. (<a href="#">read more &amp; setup instructions</a>)
          </p>
          <p class="desc">
            If you would like to disable this proxy, please use the toggle below.
          </p>
          <div class="settings-i" ng-click="toggleProxyServer()">
            <div class="settings-i-ctn">
              <h3 class="settings-i-name">Proxy</h3>
              <h3 class="settings-i-desc">Is {{ $proxyServer ? 'enabled' : 'disabled' }}</h3>
            </div>
            <div class="opt">
              <span class="switch" ng-class="{active: $proxyServer}"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- /settings -->
      <div class="settings-popup-opt">
        <div class="settings-popup-opt-i">
          <button type="button" class="btn flat primary" name="continue" ng-click="$state.go('app')">Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
